html,
body {
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 0.1em;
  margin-bottom: 0em;
}

h2,
p {
  text-align: center;
}

body > hr {
  height: 2px;
  background-color: black;
}

.subheadings {
  display: flex;
}

.loremParagraph {
  text-align: left;
  margin-left: 1em;
  margin-right: 1em;
}

.verticalLine {
  width: 1px;
  height: 20em;
  border: 1px solid black;
  background-color: black;
  opacity: 0.5;
}

.firstSubheading {
  font-style: italic;
  font-weight: 500;
  font-size: 2em;
}

.firstParaAuthorName {
  font-weight: 800;
  font-style: italic;
  font-size: 1.3em;
  margin: 0;
}

div > hr {
  width: 10em;
  height: 2px;
  background-color: black;
  opacity: 0.5;
}

div > p {
  font-style: italic;
  opacity: 0.8;
}

.secondSubheading {
  font-size: 2.5em;
  font-weight: 100;
}

.secondPara {
  font-size: 2em;
  opacity: 0.8;
}

.thirdSubheading {
  font-size: 2em;
  margin-left: 20px;
  margin-right: 20px;
}

.thirdPara {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.lastSubheading {
  font-size: 2rem;
  font-style: italic;
}
